<div>
  <header class="header">
    <h2 class="header-text" id="header-text">{{headerText}}</h2>
    <div class="header-btns">
        <div class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
<!--          <button class="lists-btn" id="lists-btn" [routerLink]="['/lists']"><img src="../../../assets/list.png" alt=""></button>-->
          <a class="nav-link" [routerLink]="['/lists']"><img src="../../../assets/list.png" alt=""> </a>
        </div>
        <div class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
<!--          <button class="delete-itm-btn" id="delete-itm-btn" [routerLink]="['/lists/update']"><img src="../../../assets/trash.png" alt=""></button>-->
          <a class="nav-link" [routerLink]="['/lists/items']"><img src="../../../assets/trash.png" alt=""></a>
        </div>
        <div class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
          <a class="nav-link" (click)="onLogoutClick()" href="#"><img src="../../../assets/undo.png" alt=""></a>
        </div>
    </div>
  </header>
</div>
<!--  <div class="collapse navbar-collapse" id="navbarsExampleDefault">-->
<!--    <ul class="navbar-nav mr-auto">-->
<!--      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">-->
<!--        <a class="nav-link" [routerLink]="['/']">Home <span></span></a>-->
<!--      </li>-->
<!--    </ul>-->
<!--    <ul class="navbar-nav ml-auto">-->
<!--      <li class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">-->
<!--        <a class="nav-link" [routerLink]="['/dashboard']">Dashboard </a>-->
<!--      </li>-->
<!--      <li class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">-->
<!--        <a class="nav-link" [routerLink]="['/profile']">Profile </a>-->
<!--      </li>-->
<!--      <li class="nav-item" *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">-->
<!--        <a class="nav-link" [routerLink]="['/login']">Login </a>-->
<!--      </li>-->
<!--      <li class="nav-item" *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">-->
<!--        <a class="nav-link" [routerLink]="['/register']">Register</a>-->
<!--      </li>-->
<!--      <li class="nav-item" *ngIf="authService.loggedIn()"><a class="nav-link" (click)="onLogoutClick()" href="#">Logout</a>-->
<!--      </li>-->
